//the whole backgound-color
html,body{
	background-color: #444444;
	height: 100%;
	// margin:0 auto;
	// padding:0;
}
.main-title{
	color:#E3E3E3;
}
.container{
	//position:fixed;
	background-color: #444444;
	height:100%;
	width:100%;
	.clear-float;
	
}


.contents{
	text-align: center;
}