//the whole backgound-color
html,body{
	background-color: transparent;
	height: 100%;
	// margin:0 auto;
	// padding:0;
}
//functions
#outer-funcs{
	.clear-float;
	width:100%;
}
.funcs{
	.clear-float;
}
//--------------
.main-title{
	color:#323232;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}
.container{
	//position:fixed;
	background-color: transparent;
	height:100%;
	width:85%;
	margin:0 auto;
	padding:0;
	.clear-float;
}

.tile-content{
	height:100%;
	text-align: center;
	// .clear-float;
	position: absolute;
}
.titles{
	color:#fff;
	font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:100%;
	//width:100%;
	& >h4{
		margin:0;
	}
}
.container-content{
	padding:0;
	margin:0 auto;
	width:90%;
	.clear-float;
}
#arcjs >svg{
	padding:0;
	margin:0 auto;
}
.gridster>ul>li{
	display:list-item;
}

